@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

body {
    margin: 0;
    font-family: 'Noto sans', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #131313;
}

h1 {
    margin-top: 1rem;
    padding: 1rem 10px;
    color: #f0ffffde;
}