.container{
    width: 90%;
    margin: 1rem auto;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: #f0ffffde;
}

.btn-cadastro {
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    outline: none;
    letter-spacing: 2px;
    background: rgb(27, 112, 240);
    color: #f0ffffde;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000052;
}

::ng-deep .mat-form-field {
    .mat-form-field-label {
        color: #f0ffffde;
    }
 
    .mat-form-field-underline {
        background-color: #f0ffffde;
    }
 
    .mat-form-field-ripple {
        background-color: #f0ffffde;
    }
 
    .mat-form-field-required-marker {
        color: #f0ffffde;
    }
 }
 
 ::ng-deep .mat-form-field.mat-focused {
 
    .mat-form-field-label {
        color: #f0ffffde;
    }
 
    .mat-form-field-ripple {
        background-color: #f0ffffde;
    }
 
    .mat-form-field-required-marker {
        color: #f0ffffde;
    }
 
    .mat-input-element {
        color: #f0ffffde;
    }
 }
 
 ::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: #f0ffffde;
    }
 }
 
 ::ng-deep .mat-form-field-outline {
     width: 100%;
     border: none;
     border-radius: 8px;
     background: rgb(61, 61, 61);
     color: #f0ffffde;
     font-size: 12pt;
     box-shadow: 0px 10px 40px #00000056;
     box-sizing: border-box;
}

::ng-deep .mat-form-field-flex {
    color: black;
}

mat-form-field {
    width: 100%;
}

mat-icon {
    opacity: .8;
    color: #f0ffffde;
}

::ng-deep .mat-table {
    background: #1d1d1d;
    width: 100%;
}

th {
    color: white
}

td {
    color: white;
}

.edit {
    color: rgb(27, 112, 240);
}

.delete {
    color: red;
}

::ng-deep .mat-paginator-outer-container {
    background-color: #1d1d1d;
    color: #f0ffffde;
}

::ng-deep .mat-paginator-range-actions {
    background-color: rgb(27, 112, 240);
    border-radius: 12px;
    color: #f0ffffde;
}

::ng-deep .mat-select-value-text {
    color: #f0ffffde;
}

::ng-deep .mat-select-arrow {
    color: #f0ffffde;
}
