<div class="container">
    <form class="form mat-elevation-z8">

        <h1>Help Desk - Frontend Web</h1>

        <img src="assets/img/login-image.jpg" alt="Help Desk - Frontend Web">
       
        <mat-form-field class="full-width">
          <mat-label>E-mail</mat-label>
          <input [formControl]="email" required [(ngModel)]="creds.email" name="email" matInput placeholder="Ex. seuemail@mail.com">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Senha</mat-label>
            <input [formControl]="senha" required [(ngModel)]="creds.senha" name="senha" matInput placeholder="Ex. 123" type="password">
          </mat-form-field>
      </form>
</div>