<body>
  <div class="container">
    <div class="left-login">
      <h1>Projeto Help Desk</h1>
      <img class="left-login-image" src="assets/img/login-image.svg" alt="Image Home Help Desk">
    </div>
    <div class="right-login">
      <mat-card class="card-login">
        <h1>LOGIN</h1>
        <div class="textfield">
          <label for="email">E-mail</label>
          <input [formControl]="email" required [(ngModel)]="creds.email" name="email" matInput placeholder="mail@mail.com">
        </div>
        <div class="textfield">
          <label for="senha">Senha</label>
          <input [formControl]="senha" required [(ngModel)]="creds.senha" name="senha" matInput placeholder="Senha" type="password">
        </div>
        <button (click)="logar()" [disabled]="!validaCampos()" class="btn-login mat-elevation-z4" mat-stroked-button color="primary">Entrar</button>
      </mat-card>
    </div>
  </div>
</body>