.container {
    width: 40rem;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: .6rem;
    background-color: #1d1d1d;
}

.fullWidth {
    width: 100%;
}

.title{
    color: #f0ffffde;
}

h1 {
    text-align: center;
}

.section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: .5rem;
}

p {
    text-align: end;
    margin-top: 1rem;
    opacity: .5;
}

mat-icon {
     opacity: .8;
}

mat-icon {
    opacity: .8;
    color: #f0ffffde;
}

::ng-deep .mat-form-field {
   .mat-form-field-label {
       color: #f0ffffde;
   }

   .mat-form-field-underline {
       background-color: #f0ffffde;
   }

   .mat-form-field-ripple {
       background-color: #f0ffffde;
   }

   .mat-form-field-required-marker {
       color: #f0ffffde;
   }
}

::ng-deep .mat-form-field.mat-focused {

   .mat-form-field-label {
       color: #f0ffffde;
   }

   .mat-form-field-ripple {
       background-color: #f0ffffde;
   }

   .mat-form-field-required-marker {
       color: #f0ffffde;
   }

   .mat-input-element {
       color: white;
   }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
   .mat-input-element {
       color: white;
   }
}

::ng-deep .mat-checkbox {
   color: white;
}

::ng-deep .mat-checkbox-background {
   background: white;
}

::ng-deep .mat-form-field-outline {
   width: 100%;
   border: none;
   border-radius: 8px;
   background: rgb(61, 61, 61);
   color: #f0ffffde;
   font-size: 12pt;
   box-shadow: 0px 10px 40px #00000056;
   box-sizing: border-box;
}



.btn-delete{
   border: none;
   border-radius: 8px;
   outline: none;
   text-transform: uppercase;
   color: white;
   background: rgb(4, 46, 126);
   cursor: pointer;
}

.btn-cancel{
   border: none;
   border-radius: 8px;
   outline: none;
   text-transform: uppercase;
   color: white;
   background: rgb(172, 0, 0);
   cursor: pointer;
}

p {
   color: #f0ffffde;
   text-align: end;
   margin-top: 1rem;
   opacity: .5;
}

::ng-deep .mat-checkbox-label {
    color: white;
}
